@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer components {
  .btn {
    @apply px-3 py-2 rounded-md bg-main-color text-white;
  }

  .secondary {
    @apply px-3 py-2 rounded-md bg-gray-300 text-black;
  }
}
